body{
  color: red;
  margin: 30px;
}
h1{
  text-align: center;
  text-transform: capitalize;
  color: #00ff00;
  text-shadow: 2px 2px #ff0000;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
p.ex{
  color: rgb(0,0,255);
}

p.date{
  color: black;
  text-align: right;
  font-style: italic;
}

p.main{
  color: black;
  text-align: justify;
  text-indent: 30px;
  line-height: 150%;
  font-size: 1em;
  border: 1px solid #ccc!important;
  border-radius: 20px!important;
  padding:14px;
}
